/* Apply for the whole webpage */
*{
    box-sizing: border-box;
}

/* Apply to the body of all the pages */
body {
    background-image: url("../img/810474.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Apply to the index.html, specifically for the paragraph section in the about me content */
p {
    font-family: 'Acme', sans-serif;
    font-size: 17px;
}

/* Apply to the break line */
hr {
    width: 100%;
    height: 2px;
    color: grey;
    border-width: 0;
    background-color: grey;
}

/* Apply to the title of each content in all of the pages */
h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    color: darkslategrey;
    margin-top: -2%;
}

/* Apply to the list of the menu links inside the navbar */
li {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
}

/* Apply to specifically for the name inside the navbar */
#my-name {
    font-family: 'Acme', sans-serif;
    font-size: 35px;
    color: darkslateblue;
}

/* Apply to the image inside the about me content */
.container .media img {
    width: 150px;
    height: 100px;
    margin-bottom: 10%;
}

/* Apply to the all container in all the pages */
.container {
    padding: 50px;
    margin-bottom: 5%;
    background: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%); 
    margin-top: 5%;
    margin-left: auto;
    object-fit: fill;
}

/* Apply to the footer in all the pages */
#webpage-footer {
    padding: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%); 
    border-top: 5px solid #ff9a9e;
}