/* Apply to the body of all the pages */
body {
    background-image: url("../img/41634675c1aa3e48d697061ec641561b.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#top-navbar {
    margin-bottom: 2px;
    opacity: 0.8;
}

/* Apply to specifically for the name inside the navbar */
#my-name {
    font-family: 'Acme', sans-serif;
    font-size: 35px;
    color: white;
}

/* Apply to the list of the menu links inside the navbar */
a#contact, a#portfolio, a#about {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    color: white;
}

/* Apply to the paragraph section in the about me content */
p, h4, h6 {
    font-family: 'Acme', sans-serif;
    font-size: 17px;
    color: midnightblue;
}

/* Apply to the image container in the main page */
#main-page-jumbotron {
    background-color: gainsboro;
    opacity: 0.9;
    margin-bottom: 100px;
}

/* Apply to the image in the main page */
img.vina-img {
    display: block;
    border-radius: 50% 50% 50% 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 260px;
    height: 250px;
}

.vina-icon {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50% 50% 50% 50%;
}

h1 {
    text-align: center;
}

p.lead {
    text-align: center;
    margin-bottom: 0%;
}

.text-center a {
    margin-right: 5px;
    margin-left: 5px;
}

p.email-phone-number {
    text-align: center;
    font-size: medium;
    color: midnightblue;
    margin-top: 0%;
    margin-bottom: 10px;
}

a.btn.btn-primary {
    border-radius: 24px;
    background: none;
    padding: 12px 22px;
    border: 2px solid darkgreen;
    color: midnightblue;
    margin-bottom: -3px;
    margin-top: 3px;
    font-family: 'Acme', sans-serif;
}

a.btn.btn-primary:hover,
a.btn.btn-primary:focus,
a.btn.btn-primary:active {
    color: blue;
    border-color: green;
}

/* Apply to the title of each content in all of the pages */
h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    color: darkslategrey;
    margin-top: -2%;
}

/* Apply to the footer in all the pages */
footer {
    background-color: gainsboro;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
}

.footer-text {
    color: black;
    text-align: center;
    margin-top: 15px;
}

.col-logos {
    min-width: 4rem;
    max-width: auto;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
.col-logos {
    min-width: 70px;
    max-width: 120px;
    display: grid;
    grid-gap: 5px;
    justify-content: center;
}}

.logos {
    width: 85px;
    height: 85px;
    margin-left: 10px;
    padding: 10px;
}

.logos-nodejs {
    width: 115px;
    height: 85px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.logos-sqlite {
    width: 130px;
    height: 75px;
    padding: 10px;
    margin-left: 10px;
}

.social-medias-box {
    padding: 10px;
    display: grid;
    justify-content: center;
}

.col-links {
    padding: 10px;
    
}